@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
body {
    margin: 0;
    background: #000;
    overflow: hidden;
}

.intro {
    position: absolute;
    top: 40%;
    left: 20%;
    z-index: 1;
    opacity: 0;
}

.texto_intro {
    font-family: "News Cycle", sans-serif;
    color: #4bd5ee;
    font-weight: 400;
    letter-spacing: .1em;
}

.historia {
    position: absolute;
    top: 80%;
}

.parrafos {
    position: absolute;
    left: 15%;
    width: 70%;
    z-index: 1;
    transform-origin: 50%;
    transform: perspective(300px) rotateX(20deg);
}

.texto_historia {
    font-family: "News Cycle", sans-serif;
    font-weight: 700;
    color: #ff6;
    text-align: justify;
    letter-spacing: .1em;
    line-height: 1.1em;
}

.boton {
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    border: 3px solid;
    border-radius: 5px;
    cursor: pointer;
}

.animacion_intro {
    animation: intro 5s ease-out 0s;
}

.animacion_historia {
    animation: parrafos 40s linear 6s;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes parrafos {
    0% {
        top: 75%;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: -70%;
        opacity: 0;
    }
}


/*Fondo de estrellas*/

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}